*{
    margin: 0;
    padding: 0;
    font-family: Monospace;
}
#homeContainer
{
  height: 100vh;
  width: 100%;
  background:url(bg.jpg) ;
    background-size: contain;
  display: ;
}
#homebluecar{
    height: 100px;
    width: 130px;
    background-color: ;
    position: relative;
    top: 0px;
    left: 0px;
    text-align: center;
}
#homebluecar img{
    height: 100px;
}
#homeplayercar
{
 height: 100px;
    width: 130px;
    background-color: ;
    position: absolute;
    bottom: 0px;
    left: 130px;
    text-align: center;
}
#homeplayercar img{
    height: 100px;
}
.theRace
{
 color: white;
  text-shadow: 5px 5px 1px rgb(0,0,0,0.5);
  font-family: Monospace;
  text-align: center;
  font-size: 50px;
  position: relative;
  top: 1%;
}
.play
{
 color: white;
  text-shadow: 5px 5px 1px rgb(0,0,0,0.5);
  font-family: Monospace;
  text-align: center;
  font-size: 50px;
  margin-top: 20px;
}
.storeContainer
{
 height: 55%;
 width: 97%;
 background: rgb(0,0,0,0.1);
 overflow-y: scroll;
 padding: 5px;
 display: none;
 align-items: center;
 justify-content: space-around;
 grid-template-columns: auto auto auto;
 
}
.carBox
{
 width: max-content;
 background: ;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}
.carBox img{
    height: 150px;
    width: 70px;
    
}
#game{
    height: 100vh;
    width: 100%;
    background:url(bg.jpg) ;
    background-size: contain;
    display: none;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
.quit
{
 font-size: 20px;
 font-weight: bold;
 padding: 5px;
 position: absolute;
 left: 5px;
 top: 5px;
 color: white;
 border-radius: 5px;
 background: rgb(0,0,0,0.1);
 backdrop-filter: blur(15px);
 box-shadow: 0px 0px 10px rgb(0,0,0,0.5);
}
#scoreGame
{
 font-size: 20px;
 font-weight: bold;
 padding: 5px;
 position: absolute;
 right: 5px;
 top: 5px;
 color: white;
 border-radius: 5px;
 background: rgb(0,0,0,0.1);
 backdrop-filter: blur(15px);
 box-shadow: 0px 0px 10px rgb(0,0,0,0.5);
}
#bluecar{
    height: 100px;
    width: 130px;
    background-color: ;
    position: relative;
    top: 0px;
    left: 0px;
    text-align: center;
    animation:  2s linear  infinite ;
}
#bluecarb{
    height: 100px;
    width: 130px;
    background-color: ;
    position: relative;
    top: 0px;
    left: 100%;
    text-align: center;
    animation:  2s linear  infinite ;
}

#bluecar img{
    height: 100px;
}
#bluecarb img{
    height: 100px;
}
@keyframes move {
    0%{
        top: 0px;
    }
    100%{
        top: 550px;
    }
    
}
@keyframes moveb {
    0%{
        top: 0px;
    }
    100%{
        top: 550px;
    }
    
}
#racecar{
    height: 100px;
    width: 130px;
    background-color: ;
    position: absolute;
    bottom: 5px;
    left: 130px;
    text-align: center;
}
#racecar img{
    height: 100px;
}

#result{
    height: 100vh;
    width: 100%;
    background: rgb(0,0,0,0.1);
    font-size: 30px;
    text-align: center;
    display: none;
    position: absolute;
    top: 0;
    z-index: 1;
}
.gameo
{
  color: white;
  text-shadow: 10px 10px 1px rgb(0,0,0,0.5);
  font-family: Monospace;
  margin-top: 80%;
}
#score{
    font-size: 40px;
    font-weight: 900;
    color: white;
}
#btn{
    padding: 8px 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(0,0,0,0.1);
    color: white;
    font-size: 25px;
    margin-top: 10px;
    box-shadow: 0px 0px 20px rgb(0,0,0,0.5);
    cursor: pointer;
    text-transform: uppercase;
}
#leftBut
{
 height: 80px;
 width: 80px;
 position: absolute;
 bottom: 5px;
 left: 5px;
 border-radius: 50%;
 background: rgb(0,0,0,0.1);
 backdrop-filter: blur(15px);
 box-shadow: 0px 0px 10px rgb(0,0,0,0.5);
 border: none;
 color: white;
}
#rightBut
{
 height: 80px;
 width: 80px;
 position: absolute;
 bottom: 5px;
 right: 5px;
 border-radius: 50%;
 background: rgb(0,0,0,0.1);
 backdrop-filter: blur(15px);
 box-shadow: 0px 0px 10px rgb(0,0,0,0.5);
 border: none;
 color: white;
}
